
name: CI / CD

on:
  push:
    branches: [ "add-cicd-pipeline" ]
jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image (no push)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          tags: tux-racer-js-ci:latest
          load: true

      - name: Save image as artifact
        run: docker save tux-racer-js-ci:latest -o image.tar
      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-image
          path: image.tar

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm ci
      - name: Run ESLint
        run: npm run lint

  hadolint:
    name: Hadolint Dockerfile Linter
    runs-on: ubuntu-latest
    steps:
        - name: checkout
          uses: actions/checkout@v4

        - name: run Hadolint
          uses: hadolint/hadolint-action@v3.1.0
          with:
            dockerfile: Dockerfile
            failure-threshold: "warning"

  trufflehog:
    name: TruffleHog OSS
    runs-on: ubuntu-latest
    steps:
        - name: checkout
          uses: actions/checkout@v4
          with:
            fetch-depth: 0 
        - name: run TruffleHog
          uses: trufflesecurity/trufflehog@main
          with:
            path: ./
            extra_args: --debug --only-verified

  trivy:
    name: Trivy Security Scan
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Run Trivy filesystem scan
          uses: aquasecurity/trivy-action@0.33.1
          with: 
            scan-type: 'fs'
            scan-ref: '.'
            format: 'table'

        - name: Run Trivy config scan
          uses: aquasecurity/trivy-action@0.33.1
          with: 
            scan-type: 'config'
            scan-ref: '.'
            format: 'table'

  cucumber:
    name: Cucumber
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download image artifact
        uses: actions/download-artifact@v4
        with:
          name: app-image
          path: .

      - name: Load Docker image
        run: docker load -i image.tar

      - name: Run Cucumber in container
        run: |
          docker run --rm \
          -e NODE_ENV=test \
          tux-racer-js-ci:latest \ 
          npm run cucumber 
          


